@CHARSET "UTF-8";

.content{
	margin-top:100px;
	margin-left:475px;
	width:500px;
	height:350px;
	background-color:#f5f5f5;
	padding:30px 0px 0px 120px;
	border-radius: 3px;
}

.complete{
  padding:20px 15px;
  border-bottom:1px solid #0080c0;
  border-left:8px solid #0080c0;
  width:400px;
  font-size:28px;
  height:20px;
}

.message{
	font-size:20px;
    margin:30px 0px 15px 40px;
}
#back{
	margin-top:60px;
	margin-left:120px;
}