.menu {
  -webkit-align-content: stretch;
  align-content:  space-around;
  justify-content: space-around;
  display:flex;
  flex-flow: row wrap;
  margin: 50px auto 0;
  padding: 0;
  width: 1100px;
}

.menu li{
	margin-top:50px;
	width: 300px;
}

.itemImage{
	width:300px;
	height:300px;
}

.br{
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
}

.br li{
	padding: 30px;
	margin:Å@0px;
}