@CHARSET "UTF-8";

.content{
	margin-top:200px;
	margin-left:550px;
}

h2{
	width:550px;
	font-size:50px;
	background: linear-gradient(rgba(255,246,0,0) 50%, rgba(255,246,0, 0.60) 50%);
}
h3{
	margin-left:20px;
}
#back{
	margin-left:30px;
}