@CHARSET "UTF-8";
.content{
	width:650px;
	height:400px;
	font-size:20px;
	margin-top:100px;
	margin-left:475px;
	padding:30px 0px 0px 120px;
	background-color:#f5f5f5;
	border-radius: 3px;
}
.confirm{
  padding:10px 30px 15px 15px;
  border-bottom:1px solid #0080c0;
  border-left:8px solid #0080c0;
  width:400px;
  font-size:28px;
  height:20px;
}

.message{
	font-size:20px;
    margin:30px 0px 15px 40px;
}

table,tr,th{
	border-collapse: collapse;
	border: solid 1px black;
}

.button{
	width:150px;
	height:40px;
	font-size:20px;
	margin:20px 0px 15px 100px;
	border-radius: 3px;
	background-color:#4682b4;
	color:#fff;
	margin-left:140px;
}

}