CHARSET "UTF-8";

.box {
    position: relative;
    padding: 0.5em 0.7em;
    margin:80px 0px 0px 400px;
    background: #ffeaea;
    color: #dc143c;
    font-weight: bold;
    width:700px;
    height:300px;
    font-size:60px;
}
.box:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 30px;
    border: 15px solid transparent;
    border-top: 15px solid #ffeaea;
    width: 0;
    height: 0;
}
.box p {
    margin: 0;
    padding: 0;
}