@CHARSET "UTF-8";

#main {
	margin: 0 auto;
}

#top {
	text-align: center;
}

#form {
	width: 800px;
	margin: 150px auto 0;
	text-align: center;
}

.InputDestination {
	display: inline-block;
	text-align: left;
	width: 300px;
	height: 40px;
	font-size: 18px;
	border-radius: 3px;
}

.name {

}

.nameKana {

}

.email {

}

.telNumber {

}

.userAddress {

}

#Button {
	margin-top: 15px;
	padding-right: 560px;
}

.button {
	width: 300px;
	height: 40px;
	border-radius: 3px;
	background-color: #4682b4;
	color: #fff;
	margin: 0 auto;
}

#goMyPage {
	font-size: 14px;
	padding-left: 710px;
	margin-top: 20px;
}