@CHARSET "UTF-8";

p{
	font-size:30px;
	margin-top: 110px;
}

tr{
	font-size:20px;
}

#KH{
	margin top: 400px;

}
p1{
	font-size:25px;

}
p2{
	font-size:25px;

}
p3{
	font-size:25px;

}
p4{
	font-size:25px;

}