@CHARSET "UTF-8";

#form{
	width: 800px;
	margin:150px auto 0;
	text-align: center;
}

.passwordInput{
	display: block;
	margin: 0 auto;
	margin-top:15px;
	width:300px;
	height:40px;
	font-size:18px;
	border-radius: 3px;
}


#submitArea{
	width:300px;
	height:40px;
	border-radius: 3px;
	background-color:#4682b4;
	color:#fff;
}
#goHome{
	font-size:14px;
	margin-top:20px;
}